@model Test.Models.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Color" class="control-label"></label>
                <input asp-for="Product.Color" class="form-control" />
                <span asp-validation-for="Product.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile.File" class="control-label"></label>
                <input asp-for="ImageFile.File" class="form-control" type="file" />
                <span asp-validation-for="ImageFile.File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="Product.CategoryId" class="control-label"></label> *@
            @*     <select asp-for="Product.CategoryId" class="form-control" id="category-select" asp-items="ViewBag.CategoryId" ></select> *@
            @* </div> *@
            <div class="form-group" hidden>
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" id="category-select">
                    <option selected value="@ViewData["CategoryId"]" >@ViewData["CategoryName"]</option>
                </select>
            </div>
            @foreach (string field in ViewBag.CategoryFields)
            {
                <div class="form-group">
                    @{
            
                    }
                    <label asp-for="CategoryFields.Fields[field]" class="control-label"></label>
                    <input asp-for="CategoryFields.Fields[field]" class="form-control"/>
                    <span asp-validation-for="CategoryFields.Fields[field]" class="text-danger"></span>
                </div>
            }
            @* @foreach(var kvp in Model.CategoryFields.Fields) *@
            @* { *@
            @*     $1$ <input type="checkbox" name="@("MyDictionary[" + kvp.Key + "]")" #1# *@
            @*     $1$        value="@kvp.Value" /> #1# *@
            @*     Console.WriteLine("{0} : {1}", kvp.Key, kvp.Value); *@
            @*     var field = Model.CategoryFields.Fields[kvp.Key]; *@
            @*     <label class="control-label"></label> *@
            @*     <input class="form-control" name="@field" /> *@
            @*     <span asp-validation-for="@field" class="text-danger" value="@kvp.Value"></span> *@
            @* } *@
            <div class="form-group">
                <input asp-page-handler="Upload" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
